 <%= form_with model: @log do |f| %>
    <div class="d-none">
        <%= f.text_field :user_id, value: current_user.id %>
    </div>
    <div class="form-floating my-2">
        <%= f.text_field :title, class: "form-control", placeholder: "Title", required: true, autocomplete: "off" %>
        <%= f.label :title, class: "form-label" %>
    </div>
    <div class="form-floating my-2">
        <%= f.number_field :value, class: "form-control", placeholder: "Value", step: "0.01", min: "0.01" %>
        <%= f.label :value, class: "form-label" %>
    </div>
    <div class="form-floating my-2">
        <%= f.date_field :date, class: "form-control", placeholder: "Date", value: Time.zone.now %>
        <%= f.label :date, class: "form-label" %>
    </div>
    <div class="form-floating my-2 border border-1 rounded p-2">
        <div class="row m-0 p-0 d-flex justify-content-center">
            <%= f.collection_radio_buttons :category_id, Category.all, :id, :name do |b| %>
                <div class="col-5 form-check">
                    <%= b.radio_button(class: 'form-check-input') %>
                    <%= b.label(class: 'form-check-label') %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="form-floating my-2 border border-1 rounded p-2">
        <div class="row m-0 p-0 d-flex justify-content-center">
            <%= f.collection_radio_buttons :log_type, Log.log_types.keys, :to_s, :humanize do |b| %>
                <div class="col-5 form-check">
                    <%= b.radio_button(class: 'form-check-input') %>
                    <%= b.label(class: 'form-check-label') %>
                </div>
            <% end %>
        </div>
    </div>
    <div class="mt-4">
        <div class="btn-group w-100" role="group">
            <%= button_tag '<i class="bi bi-floppy"></i>'.html_safe, type: 'submit', class: "btn btn-lg btn-dark rounded-start-4" %>
            <%= button_tag '<i class="bi bi-trash"></i>'.html_safe, type: 'button', class: "btn btn-lg btn-danger rounded-end-4", data: { action: "click->logs#confirmation" } %>
        </div>
    </div>
<% end %>