<div class="container-fluid g-0 p-3" data-controller="logs">
    <div class="row g-0">
        <div class="col-4 p-0 py-2 m-0 text-dark">
            <%= link_to logs_path do %>
                <i class="bi bi-caret-left-fill fs-3 text-dark text-start"></i>
            <% end %>
        </div>
        <div class="col-4 p-0 py-2 m-0 text-center"><h1>Report</h1></div>
        <div class="col-4"></div>
        <div class="col-12 mt-2 g-0">
            <div class="card p-0 m-0">
                <div class="card-body">
                    <%= form_with url: report_logs_path, method: :get do |f| %>
                        <div class="row">
                            <div class="col-12 mt-3">
                                <div class="form-floating">
                                    <%= f.date_field :start_date, datetime: 'YYYY-MM-DD', class: "form-control", placeholder: "Start Date", value: params[:start_date] || Time.zone.now %>
                                    <%= f.label :start_date, class: "form-label" %>
                                </div>
                            </div>
                            <div class="col-12 mt-3">
                                <div class="form-floating">
                                        <%= f.date_field :end_date, datetime: 'YYYY-MM-DD', class: "form-control", placeholder: "End Date", value: params[:end_date] || Time.zone.now %>
                                        <%= f.label :end_date, class: "form-label" %>
                                    </div>
                                </div>
                            <div class="btn-group mt-3" role="group">
                                <button type="submit" class="btn btn-dark btn-lg rounded-start-4"><i class="bi bi-search"></i></button>
                                <%= link_to '<i class="bi bi-trash"></i>'.html_safe, report_logs_path, class: "btn btn-danger btn-lg rounded-end-4" %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="col-12 g-0 mt-4 px-1">
            <% if @logs %>
                <div class="row">
                    <% for date, logs in @logs %>
                        <div class="col-12 mb-4">
                            <b><%= date.strftime("%B %d, %Y") %></b>
                            <% for log in logs %>
                                <div class="card mt-2">
                                    <div class="card-body">
                                        <span class="float-start"><%= log.title %></span>
                                        <span class="float-end"><%= number_to_currency(log.value, precision: 2) %></span>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    <% end %>
                </div>
            <% end %>
        </div>
    </div>
</div>
